# Assignment 7.3

Using the same Dmart csv file as used in the previous assignment, you will have to perform the following things in python:

1. Create 2 new empty Dataframes.
2. Using while loop, append only the trades where ROC < -0.5% into one dataframe and ROC>+0.5% into another dataframe
3. Calculate the total ROC of both these dataframes separately
4. Calculate the number of trades in each dataframe
5. Print Step 3 and 4

Now, using the original Dmart csv, perform the following actions
1. Using a while loop, calculate the cumulative roc of each month. So for 12 different months, you will have 12 different ROCs
2. Print ROC of each month. This could either be a list or a dataframe.

Note - This is without using the loops

In [1]:
import pandas as pd
import numpy as np

## Part 1

#### DmartFile = df

In [2]:
#Please change the path of the file as per your pc after r'
path = r'C:\Users\admin\Desktop\Sakshi\6. Python\Assignment 7\7.3\Dmart.csv'

In [3]:
df = pd.read_csv(path)

In [4]:
(df['ROC']) = ((df['Close'] - df['Open']) / df['Open'])*100

In [5]:
ROC_positive = df[df['ROC']>0.5]
display(ROC_positive)

           Ticker   Date/Time    Open      Low     High    Close       ROC
2    DMART.EQ-NSE      1/3/20  1827.0  1827.00  1853.00  1843.55  0.905857
4    DMART.EQ-NSE      1/7/20  1805.0  1805.00  1837.50  1815.75  0.595568
5    DMART.EQ-NSE      1/8/20  1793.0  1785.10  1837.05  1829.05  2.010597
6    DMART.EQ-NSE      1/9/20  1850.0  1826.60  1904.00  1880.55  1.651351
9    DMART.EQ-NSE   1/14/2020  1902.0  1892.15  1940.00  1930.75  1.511567
..            ...         ...     ...      ...      ...      ...       ...
238  DMART.EQ-NSE    12/11/20  2647.0  2632.00  2715.00  2685.10  1.439365
243  DMART.EQ-NSE  12/18/2020  2574.0  2555.00  2650.00  2637.05  2.449495
244  DMART.EQ-NSE  12/21/2020  2645.0  2460.80  2715.00  2682.40  1.413989
250  DMART.EQ-NSE  12/30/2020  2666.2  2642.35  2725.00  2680.30  0.528843
251  DMART.EQ-NSE  12/31/2020  2691.0  2670.00  2780.00  2763.60  2.697882

[97 rows x 7 columns]

In [6]:
Positive_sum = ROC_positive['ROC'].sum()
print('The total ROC of the ROC > 0.5% dataframe is: ',Positive_sum)

Positive_count = ROC_positive['ROC'].count()
print('The total number of trades in ROC > 0.5% dataframe is: ',Positive_count)

The total ROC of the ROC > 0.5% dataframe is:  222.9862779560204
The total number of trades in ROC > 0.5% dataframe is:  97

In [7]:
ROC_negative = df[df['ROC']<-0.5]
display(ROC_negative)

           Ticker   Date/Time     Open      Low     High    Close       ROC
0    DMART.EQ-NSE      1/1/20  1849.70  1820.00  1867.00  1828.50 -1.146132
3    DMART.EQ-NSE      1/6/20  1827.00  1780.00  1829.00  1789.90 -2.030651
8    DMART.EQ-NSE   1/13/2020  1925.00  1880.00  1940.15  1914.65 -0.537662
13   DMART.EQ-NSE   1/20/2020  2000.00  1927.00  2004.45  1936.65 -3.167500
14   DMART.EQ-NSE   1/21/2020  1930.00  1901.90  1959.55  1912.35 -0.914508
..            ...         ...      ...      ...      ...      ...       ...
240  DMART.EQ-NSE  12/15/2020  2672.00  2624.50  2688.90  2640.05 -1.195734
241  DMART.EQ-NSE  12/16/2020  2650.05  2605.00  2678.45  2627.05 -0.867908
242  DMART.EQ-NSE  12/17/2020  2645.00  2503.00  2650.00  2556.05 -3.362949
245  DMART.EQ-NSE  12/22/2020  2676.00  2552.25  2678.30  2625.75 -1.877803
249  DMART.EQ-NSE  12/29/2020  2690.00  2645.00  2694.70  2665.70 -0.903346

[97 rows x 7 columns]

In [8]:
Negative_sum = ROC_negative['ROC'].sum()
print('The total ROC of the ROC < -0.5% dataframe is: ',Negative_sum)

Negative_count = ROC_negative['ROC'].count()
print('The total number of trades in ROC < -0.5% dataframe is: ',Negative_count)

The total ROC of the ROC < -0.5% dataframe is:  -180.93866251486062
The total number of trades in ROC < -0.5% dataframe is:  97

## Part 2

In [9]:
# tradelist['Month'][j] = (tradelist['ClosingDate'][j]).strftime("%m")
df['Date'] = pd.to_datetime(df['Date/Time'])

df['Month'] = np.nan
for i in range (0,len(df)):
    df['Month'][i] = df['Date'][i].strftime('%m')
    

display(df)

C:\Users\admin\AppData\Local\Temp\ipykernel_7660\409368979.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Month'][i] = df['Date'][i].strftime('%m')

,Ticker,Date/Time,Open,Low,High,Close,ROC,Date,Month
0,DMART.EQ-NSE,1/1/20,1849.70,1820.00,1867.00,1828.50,-1.146132,2020-01-01,01
1,DMART.EQ-NSE,1/2/20,1831.00,1815.00,1854.85,1824.20,-0.371382,2020-01-02,01
2,DMART.EQ-NSE,1/3/20,1827.00,1827.00,1853.00,1843.55,0.905857,2020-01-03,01
3,DMART.EQ-NSE,1/6/20,1827.00,1780.00,1829.00,1789.90,-2.030651,2020-01-06,01
4,DMART.EQ-NSE,1/7/20,1805.00,1805.00,1837.50,1815.75,0.595568,2020-01-07,01
...,...,...,...,...,...,...,...,...,...
247,DMART.EQ-NSE,12/24/2020,2661.85,2604.80,2700.00,2673.10,0.422638,2020-12-24,12
248,DMART.EQ-NSE,12/28/2020,2685.95,2655.00,2698.95,2678.00,-0.295985,2020-12-28,12
249,DMART.EQ-NSE,12/29/2020,2690.00,2645.00,2694.70,2665.70,-0.903346,2020-12-29,12
250,DMART.EQ-NSE,12/30/2020,2666.20,2642.35,2725.00,2680.30,0.528843,2020-12-30,12
251,DMART.EQ-NSE,12/31/2020,2691.00,2670.00,2780.00,2763.60,2.697882,2020-12-31,12

In [18]:
January = df[df['Month']=='01']
February = df[df['Month']=='02']
March = df[df['Month']=='03']
April = df[df['Month']=='04']
May1 = df[df['Month']=='05']
June = df[df['Month']=='06']
July = df[df['Month']=='07']
August = df[df['Month']=='08']
September = df[df['Month']=='09']
October = df[df['Month']=='10']
November = df[df['Month']=='11']
December = df[df['Month']=='12']


Jan = January['ROC'].sum()
Feb = February['ROC'].sum()
Mar = March['ROC'].sum()
Apr = April['ROC'].sum()
May = May1['ROC'].sum()
Jun = June['ROC'].sum()
Jul = July['ROC'].sum()
Aug = August['ROC'].sum()
Sept = September['ROC'].sum()
Oct = October['ROC'].sum()
Nov = November['ROC'].sum()
Dec = December['ROC'].sum()


Output = pd.DataFrame({
    'January':[Jan],
    'February':[Feb],
    'March':[Mar],
    'April':[Apr],
    'May':[May],
    'June':[Jun],
    'July':[Jul],
    'August':[Aug],
    'September':[Sept],
    'October':[Oct],
    'November':[Nov],
    'December':[Dec]})

display(Output)

,January,February,March,April,May,June,July,August,September,October,November,December
0,9.817378,16.809119,13.889185,5.875324,-4.546394,-2.866655,-11.583627,3.727855,-7.170191,-1.22605,6.225495,10.60347